<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="headerInner">
            <div class="logo">
                <img src="/images/logo_panda.jpeg">
            </div>
        </div>
    </div>

    <div class="containerBody">
        <div class="login">
            <form method="post" action="">
                <h1>Войти</h1>
                <input type="text" name="username" placeholder="Логин" required autofocus>
                <input type="password" name="password" placeholder="Пароль" required>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>