<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header">
        <div class="headerInner">
            <a href="/">
                <div class="logo"></div>
            </a>
            <div class="headerMenu">
                <div>
                    <a href="../fileStorage">Заявки</a>
                </div>
                <div>
                    <a href="../contacts">Проектная команда</a>
                </div>
                <div>Клиенты</div>
                <div>Мои заявки</div>
            </div>
            <div class="search-profile">
                <div class="headerSearch">
                    <input type="text" placeholder="Искать">
                    <button class="search">Поиск</button>
                </div>
                <div class="headerProfile">
                    <select name="" id="">
                        <option value="profile">Профиль</option>
                        <option value="login">Войти</option>
                        <option value="">3</option>
                        <option value="exit">Выйти</option>
                    </select>
<!--                    <img src="../../../">-->
                    <img src="/static/images/logo_profile.png" alt="logo">
                </div>

            </div>

        </div>
    </div>

</div>